@media (max-width: 768px) {
  .banner {
    width: 100%;
    flex-wrap: wrap;
  }
  .banner__left-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    .banner__block-2 {
      margin: 0;
    }
    .banner__block-2,
    .banner__block-3,
    .banner__block-4 {
      width: 32%;
    }
    .banner__block-4 {
      margin-right: 0;
    }
  }
  .banner__right-block {
    width: 100%;
    height: 170px;
  }
}

@media (max-width: 320px) {
  .banner__left-block {
    .banner__block-2 {
      width: 100%;
      margin-bottom: 10px;
    }
    .banner__block-3,
    .banner__block-4 {
      width: 49%;
    }
  }
}

@media (min-width: 320px) and (max-width: 600px) and (orientation: landscape) {
  .banner__left-block {
    .banner__block-2 {
      margin-bottom: 10px;
    }
    .banner__block-2,
    .banner__block-3 {
      width: 100%;
    }
    .banner__block-4 {
      display: none;
    }
  }
  .banner__right-block {
    display: none;
  }
}
